@import "../../mixins.scss";

.genres {
  display: flex;
  align-items: center;

  .genreItem {
    background: var(--orangeDark);
    font-weight: 500;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 3px 6px;

    @include lg {
      font-weight: 700;
    }

    @include xl {
      font-size: 0.75rem;
      border-radius: 10px;
      padding: 3px 8px;
    }
  }
}
