@import "../../mixins.scss";

.heroBanner {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black);

  .bannerContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 450px;
    display: flex;
    opacity: 1;

    @include md {
      height: 700px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
