@import "../../mixins.scss";

.heroBanner {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  @include md {
    height: 700px;
  }

  .bannerContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.4;
    overflow: hidden;

    .lazy-load-image-background {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    color: white;

    .heroTitle {
      font-size: 4rem;
      @include md {
        font-size: 8rem;
      }
      @include lg {
        font-size: 9rem;
      }
    }

    .heroDescription {
      font-size: 18px;
      width: 80%;
      font-weight: 500;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      @include md {
        width: 100%;
        font-size: 24px;
        margin-bottom: 3rem;
      }
    }

    .searchContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .searchInput {
        outline: none;
        border: none;
        width: 60%;
        height: 50px;
        padding: 0 1rem;
        border-radius: 30px 0 0 30px;

        @include md {
          width: 90%;
          height: 60px;
          font-size: 18px;
        }
      }

      .searchButton {
        outline: none;
        border: none;
        height: 50px;
        padding: 0 1.5rem;
        font-size: 14px;
        border-radius: 0 30px 30px 0;
        background: var(--gradient);
        text-transform: uppercase;
        color: white;
        letter-spacing: 2px;
        font-weight: 600;
        cursor: pointer;

        @include md {
          height: 60px;
        }
      }
    }
  }

  .overlayContainer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgb(15, 5, 37, 0) 5%,
      rgb(10, 3, 26, 1) 78%
    );
  }
}
