@import "../../mixins.scss";

.barLoaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 14;

  .barLoader {
    width: 100px;
    height: 3px;
    background-color: var(--orange);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    animation: 1s linear infinite forwards moveBarLoader;

    @include md {
      width: 200px;
      animation-duration: 1.2s;
    }
  }
}

@keyframes moveBarLoader {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(calc(100vw));
  }
}
