@import "../../../mixins.scss";

.exploreMediaContainer {
  position: relative;
  width: 100%;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .mediaBody {
      width: 100%;

      .mediaCards {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: wrap;
        padding-top: 10px;
        padding-inline: 5px;
        column-gap: 15px;
        row-gap: 2rem;

        @include lg {
          column-gap: 20px;
        }
      }
    }
  }
}
