@import "../../../mixins.scss";

.videosContainer {
  width: 100%;
  position: relative;
  margin-top: 50px;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .videoItems {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      overflow-y: hidden;

      @include lg {
        gap: 2rem;
      }
    }
  }
}
