@import "../../mixins.scss";

.carouselContainer {
  margin-top: 20px;

  .contentWrapper {
    position: relative;
    width: 100%;

    .carouselItems {
      position: relative;
      display: flex;
      align-items: flex-start;
      overflow-y: hidden;
      padding-left: 10px;

      .carouselItem {
        min-width: 150px;
        cursor: pointer;
        padding-block: 15px;
        margin-right: 20px;

        @include md {
          min-width: calc(25% - 10px);
          margin-right: 25px;
        }

        @include lg {
          min-width: calc((20% - 10px));
          margin-right: 30px;
        }

        .posterContainer {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 20px;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.06);
          }

          .lazy-load-image-background {
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 20px;
            }
          }
        }

        .title {
          margin-top: 10px;
        }
      }
    }
  }
}
