@import "../../mixins.scss";

.carouselContainer {
  position: relative;
  margin-top: 15px;
  min-height: 300px;
  // background-color: red;

  @include md {
    min-height: 400px;
  }

  .leftArrowContainer,
  .rightArrowContainer {
    display: none;
    @include md {
      display: block;
      position: absolute;
      top: 40%;
      z-index: 2;
    }
  }

  .leftArrowContainer {
    @include md {
      left: 35px;
    }
  }

  .rightArrowContainer {
    @include md {
      right: 28px;
    }
  }

  .arrow {
    font-size: 1.75rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    &:hover {
      color: white;
    }
    @include md {
      font-size: 2rem;
    }
  }

  .contentWrapper {
    position: relative;
    width: 100%;

    .carouselItems {
      position: relative;
      display: flex;
      align-items: flex-start;
      overflow-y: hidden;
      padding-left: 10px;

      .carouselItem {
        min-width: 150px;
        min-height: 300px;
        cursor: pointer;
        padding-block: 15px;
        margin-right: 20px;

        @include md {
          min-width: calc(28% - 10px);
          margin-right: 25px;
        }

        @include lg {
          min-width: calc((23% - 10px));
          margin-right: 30px;
        }

        @include xl {
          min-width: calc((20% - 10px));
          margin-right: 30px;
        }

        .posterContainer {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          aspect-ratio: 1 / 1.5;
          background-size: cover;
          background-position: center;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 20px;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.06);
          }

          .lazy-load-image-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 20px;
            }
          }

          .genres {
            display: none;

            @include md {
              position: absolute;
              z-index: 3;
              display: flex;
              flex-wrap: wrap;
              align-items: flex-end;
              justify-content: flex-end;
              width: 110px;
              bottom: 10px;
              right: 10px;
              gap: 8px;

              @include xl {
                width: 130px;
                bottom: 10px;
                right: 10px;
                gap: 8px;
              }

              .genreItem {
                background: var(--orangeDark);
                font-weight: 500;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
                font-size: 0.65rem;
                border-radius: 10px;
                padding: 3px 6px;

                @include lg {
                  font-weight: 700;
                }

                @include xl {
                  font-size: 0.75rem;

                  border-radius: 10px;
                  padding: 3px 8px;
                }
              }
            }
          }
        }

        .ratingContainer {
          width: 45px;
          height: 45px;
          position: absolute;
          margin-top: -35px;
          margin-left: 10px;
          display: flex;
          align-items: center;

          @include md {
            width: 55px;
            height: 55px;
            margin-left: 10px;
          }
        }

        .textContainer {
          display: flex;
          flex-direction: column;
          margin-top: 8px;

          @include md {
            margin-top: 15px;
          }

          .title {
            width: 100%;
            margin-block: 10px 5px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all 0.3s;

            @include md {
              margin-block: 20px 8px;
              font-size: 1.25rem;
              line-height: 1.3;
            }
          }

          .date {
            font-size: 0.85rem;
            color: #aaa;

            @include md {
              font-size: 0.95rem;
            }
          }
        }
      }
    }
  }
}
