@import "../../mixins.scss";

.searchPage {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
  background-color: var(--blackThree);
  padding-block: 2rem 1rem;
  z-index: 4;

  .contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    .icon {
      cursor: pointer;
    }

    .arrowIcon {
      font-size: 1.25rem;
    }

    .searchContainer {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: white;
      padding-inline: 1rem;
      border-radius: 5px;

      input {
        width: 100%;
        padding: 1rem 1rem 1rem 0;
        border: none;
        outline: none;
        border-radius: 10px;
        background: transparent;
        font-weight: 600;
      }

      span {
        height: 100%;
        display: flex;
        align-items: center;

        .closeIcon {
          color: var(--blackTwo);
          font-size: 1.25rem;
        }
      }
    }

    .genresTabsContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;

      .genresTab {
        padding: 0.5rem 0.75rem;
        background-color: var(--black);
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 0.8rem;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.3s;

        &:hover {
          color: var(--orange);
          border: 1px solid var(--orange);
        }

        .active {
          background-color: var(--blackTwo);
        }
      }
    }

    .genreWiseResults {
      width: 100%;
      height: 700px;
      gap: 0.65rem;
      overflow-y: scroll;
      display: grid;
      grid-template-areas:
        "G1 G1 G2"
        "G1 G1 G3"
        "G4 G5 G6"
        "G7 G8 G8"
        "G9 G8 G8"
        "G10 G11 G12"
        "G13 G13 G14"
        "G13 G13 G15"
        "G16 G17 G18"
        "G19 G20 G18";

      @include md {
        gap: 0.75rem;
        grid-template-areas:
          "G1 G1 G2 G3 G4 G5"
          "G1 G1 G6 G7 G8 G8"
          "G9 G10 G11 G12 G8 G8"
          "G13 G13 G14 G15 G16 G17"
          "G13 G13 G18 G19 G20 G20";
      }
    }
  }
}
