@import "../../mixins.scss";

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  //   height: 5rem;
  background: var(--black);

  .footerContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;

    @include md {
      padding: 3rem 2rem;
    }

    .contentWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      font-size: 0.8rem;

      @include md {
        font-size: 1rem;
        gap: 2rem;
      }

      .footerMenuItems {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;

        .footerMenuItem {
          color: white;
          font-weight: 700;
          transition: all 0.3s;

          &:hover {
            color: var(--orange);
          }
        }
      }

      .footerContent {
        width: 90%;
        color: #aaa;

        @include md {
          font-size: 0.9rem;
          width: 50%;
        }
      }

      .socialItems {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @include md {
          gap: 1.2rem;
        }

        .socialItem {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: var(--gradient);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;

          @include md {
            width: 50px;
            height: 50px;
          }

          .icon {
            color: var(--black);
            font-size: 1rem;
            transition: all 0.3s;

            @include md {
              font-size: 1.25rem;
            }
          }

          &:hover {
            transform: scale(1.05);
            .icon {
              color: white;
            }
          }
        }
      }
    }
  }
}
