@import "../../../mixins.scss";

.detailsBanner {
  width: 100%;
  background-color: var(--blackTwo);
  padding-block: 100px 50px;

  .detailsBackdropContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;

    .lazy-load-image-background {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .overlayContainer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgb(15, 5, 37, 0) 5%,
      rgb(10, 3, 26, 1) 78%
    );
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-inline: 1.5rem;

    @include md {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding-inline: 4rem;
      gap: 1.5rem;
    }

    @include lg {
      gap: 2rem;
    }

    .leftSection,
    .rightSection {
      position: relative;
      width: 100%;
      height: 100%;
    }

    @include lg {
      .leftSection {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }

    .posterContainer {
      width: 100%;
      min-height: 450px;
      display: flex;

      @include md {
        max-width: 350px;
      }

      .lazy-load-image-background {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          border-radius: 20px;
        }
      }
    }

    .rightSection {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .titleContent {
        display: flex;
        flex-direction: column;

        .title {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          font-size: 1.35rem;

          @include lg {
            font-size: 1.75rem;
          }

          span {
            font-weight: 400;
            color: #aaa;
          }
        }

        .description {
          margin-top: 0.35rem;
          font-size: 1.1rem;
          font-style: italic;
          color: #aaa;

          @include lg {
            font-size: 1.25rem;
          }
        }
      }

      .genresContainer {
        .genres {
          gap: 0.75rem;
          flex-wrap: wrap;

          .genreItem {
            font-size: 0.8rem;
            font-weight: 700;
            padding-inline: 10px;

            @include lg {
              font-size: 0.9rem;
              padding-inline: 15px;
            }
          }
        }
      }

      .ratingAndTrailer {
        display: flex;
        align-items: center;
        gap: 3rem;
        // background: red;
        margin-top: 1rem;

        .ratingContainer {
          display: flex;
          align-items: center;

          .circleRatingContainer {
            width: 60px;
            background-color: transparent;

            @include md {
              width: 80px;
            }

            .CircularProgressbar-trail {
              stroke: var(--black);
            }

            .CircularProgressbar-text {
              fill: white;
            }
          }
        }

        .trailerContainer {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          &:hover {
            .playIcon,
            span {
              color: white;
            }
          }

          .playIcon {
            font-size: 3.25rem;
            transition: all 0.4s;
            color: var(--purple);
          }

          span {
            font-size: 1.25rem;
            transition: all 0.4s;
            color: var(--purple);
          }
        }
      }

      .overviewContainer {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .overviewHeading {
          font-size: 1.25rem;
          font-weight: 600;

          @include lg {
            font-size: 1.5rem;
          }
        }

        .overviewContent {
          color: #ccc;

          @include lg {
            width: 70%;
          }
        }
      }

      .metaDataItems {
        display: flex;
        flex-direction: column;

        .metaDataItem {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          padding-bottom: 1rem;
          border-bottom: 2px solid rgba(255, 255, 255, 0.1);

          @include md {
            gap: 1.25rem;
          }

          @include lg {
            gap: 3.5rem;
          }

          .subItem {
            display: flex;
            flex-direction: column;

            @include md {
              font-size: 1.1rem;
            }

            .tag {
              font-weight: 600;
            }
            .value {
              color: #aaa;
            }
          }

          .crew {
            height: 100%;
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;
          }
        }
      }
    }
  }
}
