@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  --black: #070114;
  --blackTwo: #0a031a;
  --blackThree: #0f0525;
  --purple: #8c52ff;
  --orange: #ff914d;
  --gradient: linear-gradient(90deg, #8c52ff, #ff914d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blackTwo);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}
