@import "../../../mixins.scss";

.castContainer {
  width: 100%;
  position: relative;
  padding-top: 50px;

  .contentWrapper {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include md {
      padding-inline: 4rem;
    }

    .castTitle {
      font-size: 1.25rem;
      font-weight: 600;

      @include lg {
        font-size: 1.5rem;
      }
    }

    .castItems {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      overflow-y: hidden;

      @include lg {
        gap: 3rem;
      }

      .castItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        text-align: center;

        @include md {
          font-size: 1.1rem;
          gap: 0.35rem;
        }

        .pictureContainer {
          width: 120px;
          height: 120px;
          overflow: hidden;

          @include lg {
            width: 140px;
            height: 140px;
          }

          .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }
        }

        .name {
          font-weight: 700;
          margin-top: 10px;
          line-height: 1.2;

          @include lg {
            margin-top: 15px;
          }
        }

        .character {
          color: #aaa;
          font-size: 0.8rem;
          line-height: 1.2;
        }
      }
    }
  }
}
