@import "../../mixins.scss";

.detailsContainer {
  .contentWrapper {
    padding-inline: 2rem;

    @include md {
      padding-inline: 4rem;
    }

    .sectionTitle {
      font-size: 1.35rem;
      font-weight: 600;

      @include lg {
        font-size: 1.5rem;
      }
    }
  }
}
